@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
    :root{
        --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
        --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
        --Grayish-Blue: hsl(212, 23%, 69%);
        --Light-Grayish-Blue: hsl(210, 46%, 95%);
    }
    
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Manrope', sans-serif;
    }
  
    .container{
        display: flex;
        width: 90%;
        align-items: center;
        box-shadow: 0 0 20px rgb(179, 178, 178);
        border-radius: 20px;
    }
    .image-page{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .image-page img{
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 0;
    }
    .content{
        padding: 2%;
    }
    .content p {
       color: hsl(214, 17%, 51%);
    }
    h1{
        padding-bottom: 5%;
        color:hsl(217, 19%, 35%)
    }
    p{
        line-height: 25px;
    }
    .michelle{
        display: flex;
        align-items: center;
        margin: 3%;
        margin-left: 0%;
        width: 90%;
        justify-content: space-between;

    }
    .michelle picture img{
        border-radius: 50%;
        height: 60px;
        width: 60px;
        margin-right: 3%;
    }
    
    picture{
        display: flex;
        width: 80%;
    }
    picture p{
        color:hsl(217, 19%, 35%)
    }
    picture p span{
        color: hsl(212, 23%, 69%);
    }
        button{
        height: 60px;
        width: 60px;
        background-color: hsl(210, 46%, 95%);
        padding: 3%;
        border-radius: 50%;
        border: 0;
    }
   
    button:focus{
        background-color: hsl(217, 19%, 35%);
        color: white;
    }


    .share{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 20%;
        background-color: hsl(214, 17%, 51%) ;
        width: 300px;
        border-radius: 20px;
    }
    .share img{
        padding: 8%;
    }
    .icon{
        position: absolute;
        right: 20%;
    }
    .icon img{
        height: 80%;
    }
    .attribution { 
        font-size: 11px; 
        text-align: center; 
        position: absolute;
        bottom:0;
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
